### WEB SCRAPING – ASSIGNMENT 4

In [1]:
#Lets import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

import time

#Importing requests
import requests

# importing regex
import re

# Importing required Exceptions
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [2]:
#to open automated window
driver = webdriver.Chrome(r"C:\Users\Ashok\Downloads\chromedriver_win32\chromedriver")

In [3]:
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [4]:
driver.get(' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos ')

In [5]:
# Creating empty lists for the attributes
Rank=[]
Name=[] 
Artist=[] 
Upload_date=[]
Views=[]

In [6]:
Rank=[]
try:
    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:  
        Rank.append(i.text)
        
except NoSuchElementException:
    Rank.append("no detail available")
except StaleElementReferenceException:
    Rank.append("no detail available")
print(Rank)

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.']

In [10]:
#scrapping the name of the video
Name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        Name.append(i.text)
        
except NoSuchElementException:
    Name.append("no detail available")
except StaleElementReferenceException:
    Name.append("no detail available")
print(Name)

['"Baby Shark Dance"[3]', '"Despacito"[6]', '"Johny Johny Yes Papa"[12]', '"Shape of You"[13]', '"See You Again"[15]', '"Bath Song"[20]', '"Phonics Song with Two Words"[21]', '"Uptown Funk"[22]', '"Learning Colors – Colorful Eggs on a Farm"[23]', '"Masha and the Bear – Recipe for Disaster"[24]', '"Gangnam Style"[25]', '"Wheels on the Bus"[30]', '"Dame Tu Cosita"[31]', '"Sugar"[32]', '"Roar"[33]', '"Counting Stars"[34]', '"Sorry"[35]', '"Thinking Out Loud"[36]', '"Axel F"[37]', '"Girls Like You"[38]', '"Faded"[39]', '"Dark Horse"[40]', '"Baa Baa Black Sheep"[41]', '"Let Her Go"[42]', '"Bailando"[43]', '"Lean On"[44]', '"Perfect"[45]', '"Shake It Off"[46]', '"Waka Waka (This Time for Africa)"[47]', '"Mi Gente"[48]']

In [11]:
#scrapping the details of artist
Artist=[]
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        Artist.append(i.text)
        
except NoSuchElementException:
    Artist.append("no detail available")
except StaleElementReferenceException:
    Artist.append("no detail available")
print(Artist)

["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', 'LooLoo Kids', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon – Nursery Rhymes', 'ChuChu TV', 'Mark Ronson', 'Miroshka TV', 'Get Movies', 'Psy', 'Cocomelon – Nursery Rhymes', 'El Chombo', 'Maroon 5', 'Katy Perry', 'OneRepublic', 'Justin Bieber', 'Ed Sheeran', 'Crazy Frog', 'Maroon 5', 'Alan Walker', 'Katy Perry', 'Cocomelon – Nursery Rhymes', 'Passenger', 'Enrique Iglesias', 'Major Lazer', 'Ed Sheeran', 'Taylor Swift', 'Shakira', 'J Balvin']

In [12]:
#scrapping the details of upload date
Upload_date=[]
try:
    upload_dates_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_dates_list:
        Upload_date.append(i.text)
        
except NoSuchElementException:
    Upload_date.append("no detail available")
except StaleElementReferenceException:
    Upload_date.append("no detail available")
print(Upload_date)

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'January 30, 2017', 'April 6, 2015', 'May 2, 2018', 'March 6, 2014', 'November 19, 2014', 'February 27, 2018', 'January 31, 2012', 'July 15, 2012', 'May 24, 2018', 'April 5, 2018', 'January 14, 2015', 'September 5, 2013', 'May 31, 2013', 'October 22, 2015', 'October 7, 2014', 'June 16, 2009', 'May 31, 2018', 'December 3, 2015', 'February 20, 2014', 'June 25, 2018', 'July 25, 2012', 'April 11, 2014', 'March 22, 2015', 'November 9, 2017', 'August 18, 2014', 'June 4, 2010', 'June 29, 2017']

In [13]:
#scrapping the details of views
Views=[]
try:
    view=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in view:
        Views.append(i.text)
        
except NoSuchElementException:
    Views.append("no detail available")
except StaleElementReferenceException:
    Views.append("no detail available")
print(Views)

['10.80', '7.87', '6.37', '5.74', '5.54', '5.44', '4.67', '4.60', '4.58', '4.50', '4.45', '4.12', '3.95', '3.71', '3.60', '3.59', '3.55', '3.46', '3.38', '3.30', '3.29', '3.29', '3.26', '3.24', '3.22', '3.22', '3.18', '3.18', '3.16', '3.09']

In [14]:
pd.set_option('expand_frame_repr', False)
#preparing dataframe
videos=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Upload Date":Upload_date,"Views":Views})
print(videos)

   Rank                                             Name                                       Artist        Upload Date  Views
0    1.                            "Baby Shark Dance"[3]  Pinkfong Baby Shark - Kids' Songs & Stories      June 17, 2016  10.80
1    2.                                   "Despacito"[6]                                   Luis Fonsi   January 12, 2017   7.87
2    3.                       "Johny Johny Yes Papa"[12]                                  LooLoo Kids    October 8, 2016   6.37
3    4.                               "Shape of You"[13]                                   Ed Sheeran   January 30, 2017   5.74
4    5.                              "See You Again"[15]                                  Wiz Khalifa      April 6, 2015   5.54
5    6.                                  "Bath Song"[20]                   Cocomelon – Nursery Rhymes        May 2, 2018   5.44
6    7.                "Phonics Song with Two Words"[21]                                    ChuChu TV      March 6, 2014   4.67
7    8.                                "Uptown Funk"[22]                                  Mark Ronson  November 19, 2014   4.60
8    9.  "Learning Colors – Colorful Eggs on a Farm"[23]                                  Miroshka TV  February 27, 2018   4.58
9   10.   "Masha and the Bear – Recipe for Disaster"[24]                                   Get Movies   January 31, 2012   4.50
10  11.                              "Gangnam Style"[25]                                          Psy      July 15, 2012   4.45
11  12.                          "Wheels on the Bus"[30]                   Cocomelon – Nursery Rhymes       May 24, 2018   4.12
12  13.                             "Dame Tu Cosita"[31]                                    El Chombo      April 5, 2018   3.95
13  14.                                      "Sugar"[32]                                     Maroon 5   January 14, 2015   3.71
14  15.                                       "Roar"[33]                                   Katy Perry  September 5, 2013   3.60
15  16.                             "Counting Stars"[34]                                  OneRepublic       May 31, 2013   3.59
16  17.                                      "Sorry"[35]                                Justin Bieber   October 22, 2015   3.55
17  18.                          "Thinking Out Loud"[36]                                   Ed Sheeran    October 7, 2014   3.46
18  19.                                     "Axel F"[37]                                   Crazy Frog      June 16, 2009   3.38
19  20.                             "Girls Like You"[38]                                     Maroon 5       May 31, 2018   3.30
20  21.                                      "Faded"[39]                                  Alan Walker   December 3, 2015   3.29
21  22.                                 "Dark Horse"[40]                                   Katy Perry  February 20, 2014   3.29
22  23.                        "Baa Baa Black Sheep"[41]                   Cocomelon – Nursery Rhymes      June 25, 2018   3.26
23  24.                                 "Let Her Go"[42]                                    Passenger      July 25, 2012   3.24
24  25.                                   "Bailando"[43]                             Enrique Iglesias     April 11, 2014   3.22
25  26.                                    "Lean On"[44]                                  Major Lazer     March 22, 2015   3.22
26  27.                                    "Perfect"[45]                                   Ed Sheeran   November 9, 2017   3.18
27  28.                               "Shake It Off"[46]                                 Taylor Swift    August 18, 2014   3.18
28  29.           "Waka Waka (This Time for Africa)"[47]                                      Shakira       June 4, 2010   3.16
29  30.                                   "Mi Gente"[48]                                     J Balvin      June 29, 2017   3.09

Q2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

In [15]:
#to open automated window
driver = webdriver.Chrome(r"C:\Users\Ashok\Downloads\chromedriver_win32\chromedriver")

In [16]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get(' https://www.bcci.tv/.')

In [17]:
#going to internation fixtures page
fixtures=driver.find_element_by_xpath("/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")

driver.get(fixtures.get_attribute('href'))

In [18]:
#Lets extract all the tags having Match titles.
titles=driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")
titles

[<selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="b9dba9be-2fbe-44b0-adad-617e287789cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="4ba19a87-ab9b-4750-b840-5b5dd2982cf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="aad2d524-0048-41e9-b59b-4065e208f297")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="982e9fd0-b85d-425b-b527-46b71b7e6319")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="620374ac-b56b-4235-b7b0-9d7ced54ba96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="fb39721e-dee1-4804-a29f-b84b47b9a3f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="bee74463-81c8-40a3-9d25-27eaab06f6c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="89710c67-4a37-4dd6-b513-dea5ab33bc69")>]

In [19]:
# Now the text of the match titles are inside the tags extracted above.
Match_Titles=[]
for i in titles:
    title=i.text
    Match_Titles.append(title)
Match_Titles

['1st T20I -',
 '2nd T20I -',
 '1st T20I -',
 '3rd T20I -',
 '2nd T20I -',
 '1st ODI -',
 '5th Test -',
 '2nd ODI -']

In [20]:
#Lets extract all the tags having series
series=driver.find_elements_by_xpath("//span[@class='ng-binding']")
series

[<selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="9f8e58e5-8f6c-415d-a62a-6b6082310fb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="787c714f-06c1-4c63-93f0-f032ab48ff58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="94fcfda7-e995-4b85-be74-b43ac4a17336")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="0fc5eb0d-4930-4160-88e0-a32419ac1bf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="89073702-0b17-49b0-b3de-09d78a2afc4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="ede8c93c-96e0-4b35-a6fc-e4dcee83b53d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="9aedc51b-b2ea-448f-adde-17caa5034de3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="7f86341e-1cea-44b6-b452-6e2c57bec1d8")>]

In [21]:
# Now the text of the series are inside the tags extracted above.
Series=[]
for i in series:
    sr=i.text
    Series.append(sr)
Series

['INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022',
 'INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022',
 'INDIA TOUR OF IRELAND T20 SERIES 2022',
 'INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022',
 'INDIA TOUR OF IRELAND T20 SERIES 2022',
 'INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022',
 'INDIA TOUR OF ENGLAND TEST SERIES 2021',
 'INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022']

In [22]:
place=driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
place

[<selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="39d91819-0048-48ed-9394-3dc88cfba678")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="c4057f45-c928-4d23-9c5a-097e90ad548e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="06485601-970e-4228-8870-d95a3d41a7b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="5aa4844b-3ea9-40ff-830b-6e5e58e3f909")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="3f1dc0f3-1799-45be-8b15-8f025ffd4b7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="2ed7ff94-b670-429a-bd70-b8d8ace84d3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="d89e265c-a06b-4616-b5aa-101871e79b57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="c560d355-5b2c-4e2d-ab9d-2faa51432306")>]

In [23]:
Places=[]
for i in place:
    p=i.text
    Places.append(p[11:])
Places

['Rangiri Dambulla International Stadium, Dambulla',
 'Rangiri Dambulla International Stadium, Dambulla',
 'The Village, Dublin',
 'Rangiri Dambulla International Stadium, Dambulla',
 'The Village, Dublin',
 'allekele International Cricket Stadium, Pallekele',
 'Edgbaston, Birmingham',
 'allekele International Cricket Stadium, Pallekele']

In [24]:
date=driver.find_elements_by_xpath("//h5[@class='ng-binding']")
date

[<selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="e993a501-3252-4f5e-8e86-c5e0959771c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="5f8b8ef9-b126-436d-af40-05244bd725f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="b4bf97cf-51c7-4845-9eb3-9b52ebafe6b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="31603e26-1494-4352-a68f-899ab679ec82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="7552ec98-3c66-4cb2-b96a-4e0c0b5aa4fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="ab8a19db-d5c3-4dbf-8d77-d47628d629d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="90b9559f-a116-44a6-8ca3-756a4f64968c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="e1f53e0c-e56c-40f9-a9a9-f54714d3ca2d")>]

In [25]:
Dates=[]
for i in date:
    d=i.text
    Dates.append(d)
Dates

['23 JUN 2022',
 '25 JUN 2022',
 '26 JUN 2022',
 '27 JUN 2022',
 '28 JUN 2022',
 '1 JUL 2022',
 '1 JUL 2022',
 '4 JUL 2022']

In [26]:
time=driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
time

[<selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="fc6612a3-f578-4968-b1e1-a8630cee9de7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="97d333df-4adc-4d09-998d-e75f7f51c71f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="1946dc11-6b8b-4d99-8840-023894149af7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="9fb99d73-0428-47cb-912f-74cb4380fb1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="75b8bb84-93c5-49a3-b94a-28dd6ced5247")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="476628ca-a5b2-4d8f-86d0-f57b1f06c232")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="dab0a33e-3fce-42df-8411-d37bca092a26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="32d98b69b4505ad4a5fe933732c481e5", element="e4097318-2fb1-43db-b3f6-ec9f13bf6f37")>]

In [27]:
Time=[]
for i in time:
    t=i.text
    Time.append(t)
Time

['2:30 PM IST',
 '2:30 PM IST',
 '9:00 PM IST',
 '2:30 PM IST',
 '9:00 PM IST',
 '10:00 AM IST',
 '3:30 PM IST',
 '10:00 AM IST']

In [28]:
import pandas as pd
Matches=pd.DataFrame({'Match_Titles':Match_Titles,'Series':Series,'Place':Places,'Dates':Dates,'Time':Time})
Matches

  Match_Titles                                         Series                                              Place        Dates          Time
0   1st T20I -  INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022   Rangiri Dambulla International Stadium, Dambulla  23 JUN 2022   2:30 PM IST
1   2nd T20I -  INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022   Rangiri Dambulla International Stadium, Dambulla  25 JUN 2022   2:30 PM IST
2   1st T20I -          INDIA TOUR OF IRELAND T20 SERIES 2022                                The Village, Dublin  26 JUN 2022   9:00 PM IST
3   3rd T20I -  INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022   Rangiri Dambulla International Stadium, Dambulla  27 JUN 2022   2:30 PM IST
4   2nd T20I -          INDIA TOUR OF IRELAND T20 SERIES 2022                                The Village, Dublin  28 JUN 2022   9:00 PM IST
5    1st ODI -  INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022  allekele International Cricket Stadium, Pallekele   1 JUL 2022  10:00 AM IST
6   5th Test -         INDIA TOUR OF ENGLAND TEST SERIES 2021                              Edgbaston, Birmingham   1 JUL 2022   3:30 PM IST
7    2nd ODI -  INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022  allekele International Cricket Stadium, Pallekele   4 JUL 2022  10:00 AM IST

Q3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

In [42]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.guru99.com/')
driver.maximize_window()

In [43]:
#clicking on selenium tutorial
driver.find_element_by_xpath("//*[@id='java_technologies']/li[3]/a").click()

In [44]:
#navigate to selenium page
exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(exception_handle_link.get_attribute('href'))

In [45]:
#scraping exceptions names
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
print(len(name))

0

In [46]:
#scraping exceptions description
desc=[]
try:
    desc_list=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in desc_list[1:]:
        desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    desc.append('No details available')
print(len(desc))

0

In [47]:
pd.set_option('expand_frame_repr', False)
#creating dataframe
df=pd.DataFrame({"Exception_name":name,
                "Description":desc})
print(df)

Empty DataFrame
Columns: [Exception_name, Description]
Index: []

Q4. Scrape the details of State-wise GDP of India from statisticstime.com

Url = http://statisticstimes.com/

In [49]:
#to open automated window
driver = webdriver.Chrome(r"C:\Users\Ashok\Downloads\chromedriver_win32\chromedriver")

In [50]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.statisticstimes.com/')

In [51]:
# Creating empty sets.
Rank = []
State = []
GSDP_18_19 = []
GSDP_19_20 = []
Share_2018= []
GDP = []

In [52]:
#economy button
economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")

In [53]:
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [54]:
#fetching gdp of india state link
GDP=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
try:
    GDP.click()
except ElementNotInteractableException:
    driver.get(GDP.get_attribute('href'))

In [55]:
#scraping rank
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//td[@class='data1']")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    rank.append('No details available')
print(len(rank[0:33]))

33

In [56]:
#scraping States
State=[]
try:
    states=driver.find_elements_by_xpath("//td[@class='name']")
    for i in states:
        State.append(i.text)
except NoSuchElementException:#handling no such element exception
    State.append('No details available')
print(len(State[0:33]))

33

In [57]:
#scraping GSDP(18-19)
GSDP_18=[]
try:
    info=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
    for i in info:
        GSDP_18.append(i.text)
except NoSuchElementException:#handling no such element exception
    GSDP_18.append('No details available')
print(len(GSDP_18[0:33]))

33

In [58]:
GSDP_details=[]
try:
    info=driver.find_elements_by_xpath("//td[@class='data']")
    for i in info:
        GSDP_details.append(i.text)
except NoSuchElementException:#handling no such element exception
    GSDP_details.append('No details available')
print(len(GSDP_details))

308

In [59]:
GSDP_details

['-',
 '13.94%',
 '399.921',
 '-',
 '2,039,074',
 '1,845,853',
 '8.63%',
 '247.629',
 '1,312,929',
 '1,215,307',
 '1,687,818',
 '8.39%',
 '240.726',
 '1,166,817',
 '1,123,982',
 '-',
 '7.96%',
 '228.290',
 '-',
 '1,186,379',
 '1,631,977',
 '7.91%',
 '226.806',
 '1,156,039',
 '1,091,077',
 '1,253,832',
 '5.77%',
 '165.556',
 '793,223',
 '739,525',
 '1,020,989',
 '4.99%',
 '143.179',
 '711,627',
 '677,428',
 '972,782',
 '4.57%',
 '131.083',
 '672,018',
 '621,301',
 '969,604',
 '4.56%',
 '130.791',
 '663,258',
 '612,828',
 '906,672',
 '4.29%',
 '122.977',
 '561,801',
 '522,009',
 '-',
 '4.14%',
 '118.733',
 '-',
 '559,412',
 '856,112',
 '4.10%',
 '117.703',
 '634,408',
 '590,569',
 '831,610',
 '3.89%',
 '111.519',
 '572,240',
 '531,085',
 '611,804',
 '2.81%',
 '80.562',
 '414,977',
 '375,651',
 '574,760',
 '2.79%',
 '79.957',
 '418,868',
 '397,669',
 '521,275',
 '2.58%',
 '74.098',
 '396,499',
 '376,877',
 '-',
 '1.67%',
 '47.982',
 '-',
 '234,048',
 '329,180',
 '1.61%',
 '46.187',
 '243,477',
 '231,182',
 '328,598',
 '1.57%',
 '45.145',
 '240,036',
 '224,986',
 '-',
 '1.30%',
 '37.351',
 '-',
 '193,273',
 '-',
 '0.83%',
 '23.690',
 '-',
 '112,755',
 '165,472',
 '0.81%',
 '23.369',
 '124,403',
 '117,851',
 '80,449',
 '0.39%',
 '11.115',
 '63,408',
 '57,787',
 '55,984',
 '0.26%',
 '7.571',
 '40,583',
 '36,963',
 '-',
 '0.22%',
 '6.397',
 '-',
 '31,192',
 '38,253',
 '0.18%',
 '5.230',
 '25,093',
 '23,013',
 '36,572',
 '0.18%',
 '5.086',
 '26,695',
 '24,682',
 '32,496',
 '0.15%',
 '4.363',
 '20,017',
 '18,722',
 '31,790',
 '0.15%',
 '4.233',
 '20,673',
 '19,300',
 '-',
 '0.14%',
 '4.144',
 '-',
 '17,647',
 '-',
 '0.13%',
 '3.737',
 '-',
 '16,676',
 '26,503',
 '0.12%',
 '3.385',
 '18,797',
 '16,478',
 '-',
 '-',
 '-',
 '-',
 '-',
 '20,351,013',
 '18,886,957',
 '',
 '2,869',
 '14,569,268',
 '14,003,316',
 '-',
 '13.97%',
 '-',
 '1,794,123',
 '1,659,210',
 '8.77%',
 '1,167,776',
 '1,079,894',
 '1,495,758',
 '8.41%',
 '1,015,735',
 '979,159',
 '1,476,983',
 '8.09%',
 '1,035,131',
 '976,948',
 '-',
 '7.92%',
 '-',
 '1,036,859',
 '1,150,711',
 '5.96%',
 '713,376',
 '662,432',
 '916,014',
 '5.06%',
 '630,693',
 '600,433',
 '881,873',
 '4.68%',
 '594,806',
 '549,481',
 '875,429',
 '4.65%',
 '595,605',
 '550,584',
 '827,019',
 '4.41%',
 '496,798',
 '461,903',
 '-',
 '4.24%',
 '-',
 '513,322',
 '779,647',
 '4.22%',
 '568,265',
 '529,739',
 '755,790',
 '3.99%',
 '514,983',
 '477,834',
 '562,710',
 '2.91%',
 '377,276',
 '340,512',
 '517,521',
 '2.83%',
 '374,015',
 '354,830',
 '457,757',
 '2.56%',
 '344,437',
 '327,805',
 '-',
 '1.69%',
 '-',
 '207,193',
 '301,242',
 '1.63%',
 '218,232',
 '204,423',
 '288,041',
 '1.60%',
 '210,837',
 '200,453',
 '-',
 '1.33%',
 '-',
 '173,211',
 '143,063',
 '0.80%',
 '107,171',
 '101,534',
 '-',
 '0.78%',
 '-',
 '91,666',
 '72,181',
 '0.40%',
 '56,810',
 '51,878',
 '50,227',
 '0.27%',
 '35,980',
 '32,830',
 '-',
 '0.22%',
 '-',
 '27,565',
 '34,823',
 '0.19%',
 '22,291',
 '20,534',
 '32,833',
 '0.18%',
 '23,564',
 '21,779',
 '29,148',
 '0.15%',
 '18,549',
 '17,228',
 '28,391',
 '0.15%',
 '17,060',
 '15,972',
 '-',
 '0.15%',
 '-',
 '15,381',
 '-',
 '0.13%',
 '-',
 '15,013',
 '24,424',
 '0.13%',
 '17,797',
 '15,372',
 '-',
 '-',
 '-',
 '-',
 '17,994,301',
 '16,704,645',
 '',
 '12,681,246',
 '12,240,380']

In [60]:
#scraping GSDP(19-20)
GSDP_19=GSDP_details[::5][0:33]
print(len(GSDP_19))

33

In [61]:
#scraping share 2018
Share=GSDP_details[::1][0:33]
print(len(Share))

33

In [62]:
#scraping GDP(billion$)
GDP_billion=GSDP_details[::2][0:33]
print(len(GDP_billion))

33

In [63]:
#creatng dataframe
df=pd.DataFrame({'Rank':rank[0:33],
                'State':State[0:33],
                'GSDP(18-19)':GSDP_18[0:33],
                'GSDP(19-20)':GSDP_19,
                'Share_18-19':Share,
                'GDP(Billion_$)':GDP_billion})
print(df)

   Rank                      State GSDP(18-19) GSDP(19-20) Share_18-19 GDP(Billion_$)
0     1                Maharashtra   2,632,792           -           -              -
1     2                 Tamil Nadu   1,630,208   1,845,853      13.94%        399.921
2     3              Uttar Pradesh   1,584,764   1,687,818     399.921      2,039,074
3     4                    Gujarat   1,502,899           -           -          8.63%
4     5                  Karnataka   1,493,127   1,631,977   2,039,074      1,312,929
5     6                West Bengal   1,089,898   1,253,832   1,845,853      1,687,818
6     7                  Rajasthan     942,586   1,020,989       8.63%        240.726
7     8             Andhra Pradesh     862,957     972,782     247.629      1,123,982
8     9                  Telangana     861,031     969,604   1,312,929          7.96%
9    10             Madhya Pradesh     809,592     906,672   1,215,307              -
10   11                     Kerala     781,653           -   1,687,818      1,631,977
11   12                      Delhi     774,870     856,112       8.39%        226.806
12   13                    Haryana     734,163     831,610     240.726      1,091,077
13   14                      Bihar     530,363     611,804   1,166,817          5.77%
14   15                     Punjab     526,376     574,760   1,123,982        793,223
15   16                     Odisha     487,805     521,275           -      1,020,989
16   17                      Assam     315,881           -       7.96%        143.179
17   18               Chhattisgarh     304,063     329,180     228.290        677,428
18   19                  Jharkhand     297,204     328,598           -          4.57%
19   20                Uttarakhand     245,895           -   1,186,379        672,018
20   21            Jammu & Kashmir     155,956           -   1,631,977        969,604
21   22           Himachal Pradesh     153,845     165,472       7.91%        130.791
22   23                        Goa      73,170      80,449     226.806        612,828
23   24                    Tripura      49,845      55,984   1,156,039          4.29%
24   25                 Chandigarh      42,114           -   1,091,077        561,801
25   26                 Puducherry      34,433      38,253   1,253,832              -
26   27                  Meghalaya      33,481      36,572       5.77%        118.733
27   28                     Sikkim      28,723      32,496     165.556        559,412
28   29                    Manipur      27,870      31,790     793,223          4.10%
29   30                   Nagaland      27,283           -     739,525        634,408
30   31          Arunachal Pradesh      24,603           -   1,020,989        831,610
31   32                    Mizoram      22,287      26,503       4.99%        111.519
32   33  Andaman & Nicobar Islands           -           -     143.179        531,085

Q5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

In [64]:
#to open automated window
driver = webdriver.Chrome(r"C:\Users\Ashok\Downloads\chromedriver_win32\chromedriver")

In [65]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get("https://github.com/")

In [66]:
#finding explore-trending option
explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
driver.get(explore.get_attribute('href'))

In [67]:
#scraping repositories title
repo_title=[]
try:
    repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_title.append('No details available')
print(len(repo_title))

25

In [68]:
#scraping repositories description
repo_desc=[]
try:
    descriptions=driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
    for i in descriptions:
        repo_desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_desc.append('No details available')
print(len(repo_desc))

25

In [69]:
repo_urls=[]
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))

In [70]:
Contributors_count=[]
Language_used=[]
for i in repo_urls:
    driver.get(i)
    l=[]
    try:#scraping contributors count
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:#handling no such element exception
        Contributors_count.append('No details available')
     #scraping languages used   
    languages=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[1]/div[2]/span[1]/span[2]")
    if languages:    
        Language_used.append(i.text)
    else:
        Language_used.append('No languages used')

In [71]:
#creating dataframe
pd.set_option('expand_frame_repr', False)
df=pd.DataFrame({'Title':repo_title,
                'Description':repo_desc,
                'Contributors_count':Contributors_count,
                'Language_used':Language_used})
print(df)

                                          Title                                        Description    Contributors_count      Language_used
0                               kraanzu / dooit                                 A TUI todo manager                     5  No languages used
1   girliemac / a-picture-is-worth-a-1000-words  I am trying to describe complex matters in sim...                     2  No languages used
2                          alibaba / IOC-golang  一款服务于 Go 开发者的依赖注入框架，方便搭建任何 Go 应用。 A Golang dep...                     3  No languages used
3                             ToolJet / ToolJet  Extensible low-code framework for building bus...                   181  No languages used
4                                jfecher / ante                      A safe, easy systems language                    11  No languages used
5                     LunarVim / nvim-basic-ide  This is my attempt at a basic stable starting ...  No details available  No languages used
6                     NomicFoundation / hardhat  Hardhat is a development environment to compil...                   184  No languages used
7                 daffainfo / AllAboutBugBounty  All about bug bounty (bypasses, payloads, and ...                     3  No languages used
8                    spacedriveapp / spacedrive  Spacedrive is an open source cross-platform fi...                    33  No languages used
9                               dblalock / bolt            10x faster matrix and vector operations                     3  No languages used
10                           tauri-apps / tauri  Build smaller, faster, and more secure desktop...                   172  No languages used
11                    wdzeng / shopee-coins-bot                                      💰💰 蝦皮簽到機器人 💰💰  No details available  No languages used
12             Asabeneh / 30-Days-Of-JavaScript  30 days of JavaScript programming challenge is...                    27  No languages used
13     InterviewReady / system-design-resources  These are the best resources for System Design...                     4  No languages used
14                elebumm / RedditVideoMakerBot      Create Reddit Videos with just✨ one command ✨                    32  No languages used
15   Elfocrash / .NET-Backend-Developer-Roadmap  Nick's Roadmap for a .NET Backend Developer wo...  No details available  No languages used
16                     TGX-Android / Telegram-X  The main repository of Telegram X — official a...                     2  No languages used
17              Q930844N / awesome_tech_content  Technology related content shared by folks on ...  No details available  No languages used
18                      dragonflydb / dragonfly       A modern replacement for Redis and Memcached                    12  No languages used
19                     Lightning-AI / lightning  Build high-performance AI models with PyTorch ...                   684  No languages used
20                         onevcat / Kingfisher  A lightweight, pure-Swift library for download...                   170  No languages used
21                        Alamofire / Alamofire                   Elegant HTTP Networking in Swift                   240  No languages used
22                          alecthomas / chroma    A general purpose syntax highlighter in pure Go                   160  No languages used
23                            arendst / Tasmota  Alternative firmware for ESP8266 with easy con...                   215  No languages used
24                                 nvm-sh / nvm  Node Version Manager - POSIX-compliant bash sc...                   317  No languages used

Q6. Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/

In [72]:
#to open automated window
driver = webdriver.Chrome(r"C:\Users\Ashok\Downloads\chromedriver_win32\chromedriver")

In [73]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get("https:/www.billboard.com/ ")

In [74]:
#clicking Hot 100 button
Hot_100=driver.find_element_by_xpath("/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a")
try:
    Hot_100.click()
except ElementNotInteractableException:
    driver.get(Hot_100.get_attribute('href'))

In [77]:
#scraping song names
song_name=[]

try:
    names=driver.find_elements_by_xpath("c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only")
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    song_name.append('No details available')

try:
    names=driver.find_elements_by_xpath("c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only")
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    song_name.append('No details available')
print(len(song_name))

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string 'c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only' is not a valid XPath expression.
  (Session info: chrome=102.0.5005.115)
Stacktrace:
Backtrace:
	Ordinal0 [0x010CB8F3+2406643]
	Ordinal0 [0x0105AF31+1945393]
	Ordinal0 [0x00F4C748+837448]
	Ordinal0 [0x00F4F154+848212]
	Ordinal0 [0x00F4F012+847890]
	Ordinal0 [0x00F4F2A0+848544]
	Ordinal0 [0x00F78FF5+1019893]
	Ordinal0 [0x00F7957B+1021307]
	Ordinal0 [0x00FA63AC+1205164]
	Ordinal0 [0x00F942C4+1131204]
	Ordinal0 [0x00FA4682+1197698]
	Ordinal0 [0x00F94096+1130646]
	Ordinal0 [0x00F6E636+976438]
	Ordinal0 [0x00F6F546+980294]
	GetHandleVerifier [0x01339612+2498066]
	GetHandleVerifier [0x0132C920+2445600]
	GetHandleVerifier [0x01164F2A+579370]
	GetHandleVerifier [0x01163D36+574774]
	Ordinal0 [0x01061C0B+1973259]
	Ordinal0 [0x01066688+1992328]
	Ordinal0 [0x01066775+1992565]
	Ordinal0 [0x0106F8D1+2029777]
	BaseThreadInitThunk [0x76226739+25]
	RtlGetFullPathName_UEx [0x76FD8FEF+1215]
	RtlGetFullPathName_UEx [0x76FD8FBD+1165]

In [78]:
#scraping artist names
artist_name=[]

try:
    names=driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    artist_name.append('No details available')

try:
    names=driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    artist_name.append('No details available')
print(len(artist_name))

100

In [79]:
#scraping last week rank
details=[]

try:
    ranks=driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
    for i in ranks:
        details.append(i.text)
except NoSuchElementException:#handling no such element exception
    details.append('No details available')

try:
    ranks=driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
    for i in ranks:
        details.append(i.text)
except NoSuchElementException:#handling no such element exception
    details.append('No details available')
print(len(last_week_rank))

NameError: name 'last_week_rank' is not defined

In [80]:
last_week_rank=details[::6]
len(last_week_rank)

100

In [81]:
#scraping peak rank
peak_rank=details[1::6]
len(peak_rank)

100

In [82]:
#scraping weeks on chart
weeks=details[2::6]
len(weeks)

100

In [83]:
#creating dataframe
df=pd.DataFrame({'Song_Name':song_name,
                'Artist_Name':artist_name,
                'Last_week_rank':last_week_rank,
                'Peak':peak_rank,
                'Weeks_on_chart':weeks})
print(df)

ValueError: All arrays must be of the same length

Q7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

In [84]:
#to open automated window
driver = webdriver.Chrome(r"C:\Users\Ashok\Downloads\chromedriver_win32\chromedriver")

In [85]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get("https://www.naukri.com/")

In [92]:
#Fetching jobs url for recruiter page
jobs = driver.find_element_by_xpath("//a[@title='Search Jobs']")
jobs_url = jobs.get_attribute("href")

driver.get(jobs_url)

In [93]:
#Fetching urls for recruiter page
rec = driver.find_element_by_xpath("//a[@title='Search Recruiters']")
page_url = rec.get_attribute("href")

driver.get(page_url)

In [94]:
#Fetching search button,bar xpath and clicking on it
search = driver.find_element_by_xpath("//div[@class='inpWrap']//input") 
search.send_keys("Data science ")           
but = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [95]:
#Creating empty list
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [96]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']")[:50]:
    Name.append(i.text)


#Scraping data of Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']")[:50]:
    Designation.append(i.text)

#Scraping data of company name
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]")[:50]:
    Company.append(i.text)
    
#scraping data of Skills 
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")[:50]:
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')

#Scraping data of locations
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]//span")[:50]:
    Location.append(i.text)

In [97]:
#DATA FRAMING
Naukri=pd.DataFrame({})
Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Skills'] = Skills
Naukri['Location'] = Location
#Printing data frame
Naukri

                                             Name                          Designation                                         Company                                             Skills                                       Location
0                                    Aakash Harit                           HR Manager                            Data Science Network  Classic ASP Developer, Internet Marketing Prof...                                   Aakash Harit
1                            shravan Kumar Gaddam                    Company Recruiter                   Shore Infotech India Pvt. Ltd  .Net, Java, Data Science, Linux Administration...                                     HR Manager
2                        MARSIAN Technologies LLP                           Company HR                        MARSIAN Technologies LLP  Data Science, Artificial Intelligence, Machine...                                          Delhi
3                                    Anik Agrawal                    Company Recruiter           Enerlytics Software Solutions Pvt Ltd  Mean Stack, javascript, angularjs, mongodb, We...                           shravan Kumar Gaddam
4                                    subhas patel                          Founder CEO                                 LibraryXProject  Hadoop, Spark, Digital Strategy, Data Architec...                              Company Recruiter
5    Abhishek - Only Analytics Hiring - India and          Recruitment Lead Consultant      Apidel Technologies Division of Transpower  Analytics, Business Intelligence, Business Ana...                       Hyderabad / Secunderabad
6   Institute for Financial Management and Resear                    Programme Manager                                            IFMR                                       Data Science                       MARSIAN Technologies LLP
7                                     Balu Ramesh                     HR Administrator                     Techvantage Systems Pvt Ltd  Machine Learning, algorithms, Go Getter, Compu...                                     Company HR
8                                   Asif Lucknowi                             Director                      Weupskill- Live Wire India  Technical Training, Software Development, Pres...                                           Pune
9                                 InstaFinancials                       Human Resource                CBL Data Science Private Limited  Software Development, It Sales, Account Manage...                                   Anik Agrawal
10                                 Priyanka Akiri                           HR Manager                   Infinitive Software Solutions  Oracle Dba, Data Science, Data Warehousing, ET...                              Company Recruiter
11                                Kalpana Dumpala                     Executive Hiring                              Innominds Software  Qa, Ui/ux, Java Developer, Java Architect, C++...                                      Ahmedabad
12                                        Mubarak                           Company HR                                        MoneyTap  Business Intelligence, Data Warehousing, Data ...                                   subhas patel
13                                 Kushal Rastogi                           Company HR              QuantMagnum Technologies Pvt. Ltd.  Office Administration, Hr Administration, tele...                                    Founder CEO
14                             Mahesh Babu Channa                         HR Team Lead                               SocialPrachar.com  Social Media, digital media maketing, seo, smm...                                  UK - (london)
15                                   Kapil Devang                           HR Manager                                  BISP Solutions     Big Data, Hadoop, Data Analytics, Data Science   Abhishek - Only Analytics Hiring - India and
16                                Sakshi Chhikara                 Assistant Manager HR                   BIZ INFOTECNO PRIVATE LIMITED  React.js, Data Science, Java, Front End, Busin...                    Recruitment Lead Consultant
17                                    Ruchi Dhote  Senior Executive Talent Acquisition                           Bristlecone India Ltd  Qlikview, Qlik Sense, Microsoft Azure, Power B...                              Vadodara / Baroda
18                                  Manisha Yadav                         HR Executive                                        Easi Tax  Telecalling, Client Interaction, Marketing, Re...  Institute for Financial Management and Resear
19                                    Riya Rajesh           Manager Talent Acquisition                     Novelworx Digital Solutions                                       Data Science                              Programme Manager
20                           Rashmi Bhattacharjee                              HR Head         AXESTRACK SOFTWARE SOLUTIONS PRIVATE...  Corporate Sales, Software Development, Softwar...                                        Chennai
21                                  Faizan Kareem                           HR MANAGER                   FirstTech Consaltants Pvt.Ltd  Data Analytics, Data Science, Machine Learning...                                    Balu Ramesh
22                                 Rithika dadwal                         HR Recruiter                                Affine Analytics  Data Science, Machine Learning, Python, R, Dee...                               HR Administrator
23                             Sandhya Khandagale                         HR Recruiter                 Compumatrice Multimedia Pvt Ltd  Big Data, Data Science, Artificial Intelligenc...                                     Trivandrum
24                                      Shaun Rao              Manager Human Resources                              Exela Technologies  Java, Net, Angularjs, Hr, Infrastructure, Mana...                                  Asif Lucknowi
25                                  Azahar Shaikh                    Company Recruiter                 NEAL ANALYTICS SERVICES PVT LTD  Data Science, Artificial Intelligence, Machine...                                       Director
26                                          Manas              Lead Talent acquisition      Autumn Leaf Consulting Services Private...  Software Architecture, Vp Engineering, Product...                                         Indore
27                                          kumar                           Proprietor                                         trainin  Data Science, Hadoop, Rpas, Devops, Python, Aw...                                InstaFinancials
28                                   Sunil Vedula                                  CEO                            Nanoprecise Sci Corp  Signal Processing, Machine Learning, Neural Ne...                                 Human Resource
29                                    Rajat Kumar                          Founder CEO                  R.S Consultancy &amp; Services  Web Technologies, Project Management, Software...                          Bengaluru / Bangalore
30                                Dhruv Dev Dubey             Company Recruitment Head                                    Confidential  Server Administartion, Verilog, Vhdl, Digital ...                                 Priyanka Akiri
31                                      Jayanth N                      Project Manager        Dollarbird Information Services Pvt, Ltd  Data Analytics, Managed Services, Team Leading...                                     HR Manager
32                                         Avodha       Business Development Associate                              Nikitha Palaparthi  Ethical Hacking, Security Operations Center, S...                                      Hyderabad
33                                       SREEDHAR               Recruitment Consultant     JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED  Data Science, Machine Learning, Big Data Analy...                                Kalpana Dumpala
34                                    Priya Khare                       Senior Manager                          Independent Consultant  Data Science, Artificial Intelligence, analyti...                               Executive Hiring
35                                    Amit Sharma                           Consultant                                 ASCO consulting  Machine Learning, Artificial Intelligence, Dat...                       Hyderabad / Secunderabad
36                                          Kanan         senior technology instructor                                         NY INST  C, C++, Artificial Intelligence, Python, Php, ...                                        Mubarak
37                           Shashikant Chaudhary             HR Recruiter/HR Excutive  3D India Staffing Research &amp; Consulting...  Relationship Management, Retail Sales, Private...                                     Company HR
38                                           Brad        Manager, Technical Recruiting                                     O.C. Tanner                 Data Science, Software Engineering                          Bengaluru / Bangalore
39                                   Rutuja Pawar                  Technical Recruiter                                   Demand Matrix  Data Science, Big Data Analytics, Digital Mark...                                 Kushal Rastogi
40                            Madhusudhan Sridhar                      Erp Implementer                             MADHUSUDHAN SRIDHAR                  Data Science, Recruitment, Salary                                     Company HR
41                                    Ankit Sinha                       Head Analytics                                  Suntech Global  B.Tech, Tableau, Statistics, R, Analytics, Tim...                                         Mumbai
42                                 Gaurav Chouhan              Chief Technical Officer                        Strategic Consulting Lab  Software Development, Business Intelligence, B...                             Mahesh Babu Channa
43                                   Rashi Kacker                   Sr Product Manager                            Impel Labs Pvt. Ltd.                   Data Science, Node.js, Angularjs                                   HR Team Lead
44                                        Ashwini             Director Global Delivery                                    MRP Advisers  Data Science, Media Marketing, Resource Planni...                       Hyderabad / Secunderabad
45                                   Balaji Kolli                           Co Founder                   Saras Solutions India Pvt Ltd  Data Analysis, Learning, Data Science, Compute...                                   Kapil Devang
46                                 Rajani Nagaraj                           HR Manager                                     WildJasmine  Java, Hadoop, R, Machine Learning, Spark, Flum...                                     HR Manager
47                                    ROHIT Kumar                            Architect                             LNT Private Limited  Software Development, Core Java, Unit Testing,...                                         Bhopal
48                                 Amir Chowdhury                     Managing Partner                                     Granular.ai  Machine Learning, Data Science, Product Manage...                                Sakshi Chhikara
49                                     Ravi Dubey                  Recruitment Manager                     HyrEzy Talent Solutions LLP  Walmart Interra Skeps Expressstores indifi whi...                           Assistant Manager HR

Q8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

In [98]:
#to open automated window
driver = webdriver.Chrome(r"C:\Users\Ashok\Downloads\chromedriver_win32\chromedriver")

In [99]:
driver=webdriver.Chrome('chromedriver.exe')
#getting the specified url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

In [100]:
#Creating empty list
Book_name = []
Author = []
Volumes_sold = []
Publisher = []
Genre = []

In [103]:
#scraping data of book names
for i in driver.find_elements_by_xpath("//tbody//tr/td[2]"):
    Book_name.append(i.text)

    
#Scraping data of author names
for i in driver.find_elements_by_xpath("//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author.append(i.text)
    except NoSuchElementException:
        Author.append('-')


#Scraping data of volumes sold
for i in driver.find_elements_by_xpath("//tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

    
#Scraping data of publisher names
for i in driver.find_elements_by_xpath("//tbody/tr/td[5]"):
    Publisher.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements_by_xpath("//tbody/tr/td[6]"):
    Genre.append(i.text)

In [104]:
#DATA FRAMEING
Novel=pd.DataFrame({})
Novel['Book Name'] = Book_name
Novel['Author'] = Author
Novel['Volume sold'] = Volumes_sold
Novel['Publisher'] = Publisher
Novel['Genre'] = Genre

ValueError: Length of values (100) does not match length of index (200)

In [105]:
#Printing data frame
Novel

                                             Book Name            Author
0                                    Da Vinci Code,The        Brown, Dan
1                 Harry Potter and the Deathly Hallows     Rowling, J.K.
2             Harry Potter and the Philosopher's Stone     Rowling, J.K.
3            Harry Potter and the Order of the Phoenix     Rowling, J.K.
4                                 Fifty Shades of Grey      James, E. L.
..                                                 ...               ...
195                                          Ghost,The    Harris, Robert
196                     Happy Days with the Naked Chef     Oliver, Jamie
197              Hunger Games,The:Hunger Games Trilogy  Collins, Suzanne
198  Lost Boy,The:A Foster Child's Search for the L...      Pelzer, Dave
199  Jamie's Ministry of Food:Anyone Can Learn to C...     Oliver, Jamie

[200 rows x 2 columns]

Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

In [106]:
#to open automated window
driver = webdriver.Chrome(r"C:\Users\Ashok\Downloads\chromedriver_win32\chromedriver")

In [108]:
driver=webdriver.Chrome('chromedriver.exe')
#getting the specified url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [109]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [110]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

    
#Scraping data of Year span
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)

    
#Scraping data of Run time
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Run_time.append(i.text)

    
#Scraping data of Ratings
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

    
#Scraping data of votes
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [111]:
#DATA FRAMEING
IMDB=pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year Span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run Time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes
IMDB

                              Name    Year Span                     Genre Run Time Ratings      Votes
0                  Game of Thrones  (2011–2019)  Action, Adventure, Drama   57 min     9.2  1,998,291
1                  Stranger Things     (2016– )    Drama, Fantasy, Horror   51 min     8.7  1,046,182
2                 The Walking Dead  (2010–2022)   Drama, Horror, Thriller   44 min     8.2    950,932
3                   13 Reasons Why  (2017–2020)  Drama, Mystery, Thriller   60 min     7.5    284,209
4                          The 100  (2014–2020)    Drama, Mystery, Sci-Fi   43 min     7.6    243,997
..                             ...          ...                       ...      ...     ...        ...
95                           Reign  (2013–2017)            Drama, Fantasy   42 min     7.4     48,936
96  A Series of Unfortunate Events  (2017–2019)  Adventure, Comedy, Drama   50 min     7.8     59,647
97                  Criminal Minds  (2005–2020)     Crime, Drama, Mystery   42 min     8.1    190,883
98           Scream: The TV Series  (2015–2019)      Comedy, Crime, Drama   45 min     7.1     40,376
99      The Haunting of Hill House       (2018)    Drama, Horror, Mystery  572 min     8.6    229,407

[100 rows x 6 columns]

Q10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

In [112]:
#to open automated window
driver = webdriver.Chrome(r"C:\Users\Ashok\Downloads\chromedriver_win32\chromedriver")

In [113]:
driver=webdriver.Chrome('chromedriver.exe')
#getting the specified url
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [114]:
#Finding view all dataset button
view_dataset = driver.find_element_by_xpath("//tbody[1]//tr/td[2]/span[2]/a")    
page_url = view_dataset.get_attribute("href")
driver.get(page_url)

#Getting page urls containing list of all datasets
all_lst = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
lst_url = all_lst.get_attribute("href")           
driver.get(lst_url)

#fetching url for each dataset
data_url = driver.find_elements_by_xpath("//p[@class='normal']//b/a")    

urls = []     
for i in data_url:
    urls.append(i.get_attribute("href"))

In [115]:
#Creating empty list
Data_name = []
Data_type = []
Task = []
Attr_type = []
Instances = []
n_attributes = []
Year = []

In [116]:
#Scraping requiredinfo from urls
for i in urls:
    driver.get(i)
    
    
    #Scraping Dataset name
    try: 
        ds_name = driver.find_element_by_xpath("//span[@class='heading']")
        Data_name.append(ds_name.text)
    except NoSuchElementException:
        Data_name.append('-')
    
    
    #Scraping data type
    try:
        dtype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[2]")
        if dtype.text == "N/A": raise NoSuchElementException
        Data_type.append(dtype.text)
    except NoSuchElementException:
        Data_type.append('-')
    
#Scraping Attribute type
    try:
        atype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[2]")
        if atype.text == "N/A": raise NoSuchElementException
        Attr_type.append(atype.text)
    except NoSuchElementException:
        Attr_type.append('-')
    
    
    #scraping Task
    try:
        task = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    
    #Scraping No of instances
    try:
        inst = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[4]")
        if inst.text == "N/A": raise NoSuchElementException
        Instances.append(inst.text)
    except NoSuchElementException:
        Instances.append('-')
#Scraping  No of attribute
    try:
        attr = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[4]")
        if attr.text == "N/A": raise NoSuchElementException
        n_attributes.append(attr.text)
    except NoSuchElementException:
        n_attributes.append('-')
    
    
    #scraping year
    try:
        year = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [117]:
#DATA FRAMEING
UCI=pd.DataFrame({})
UCI['Data Name'] = Data_name
UCI['Data Type'] = Data_type
UCI['Task'] = Task
UCI['Attribute type'] = Attr_type
UCI['No of instance'] = Instances
UCI['No of attributes'] = n_attributes
UCI['Year'] = Year

#Printing dataframe
UCI

                                             Data Name                  Data Type                        Task        Attribute type No of instance No of attributes  Year
0         2.4 GHZ Indoor Channel Measurements Data Set               Multivariate              Classification                  Real           7840                5  2018
1    3D Road Network (North Jutland, Denmark) Data Set           Sequential, Text      Regression, Clustering                  Real         434874                4  2013
2                                  3W dataset Data Set  Multivariate, Time-Series  Classification, Clustering         Integer, Real           1984                8  2019
3                          9mers from cullpdb Data Set                 Sequential  Classification, Regression                  Real         158716                4  2021
4    : Simulated Data set of Iraqi tourism places D...               Multivariate  Classification, Clustering                     -            232               16  2020
..                                                 ...                        ...                         ...                   ...            ...              ...   ...
617  Youtube cookery channels viewers comments in H...         Multivariate, Text              Classification                     -           9800                3  2019
618     YouTube Multiview Video Games Dataset Data Set         Multivariate, Text  Classification, Clustering         Integer, Real         120000          1000000  2013
619                   YouTube Spam Collection Data Set                       Text              Classification                     -           1956                5  2017
620                           Z-Alizadeh Sani Data Set                          -              Classification         Integer, Real            303               56  2017
621                                       Zoo Data Set               Multivariate              Classification  Categorical, Integer            101               17  1990

[622 rows x 7 columns]